body {
  background-color: grey;
  /*margin-top: 5%;*/
  font-family: 'Press Start 2P', cursive;
}

div {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none
}

p {
  text-align: center;
}

#picture {
  text-align: center;
}

#picture img {
  height: 10%;
  width: 10%;
}

#firePowerUp {
  height: 20%;
  width: 20%;
}
